<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--===================================外网===================================-->
    <!--图片存放的绝对路径-->
    <wan_dir_path>
        D:\UsedVehPicReciver\build\libs\exploded\UsedVehPicUpload-0.0.1-SNAPSHOT.war\WEB-INF\classes\usedveh\new
    </wan_dir_path>

    <!--应该被替换掉的绝对路径前缀-->
    <wan_path_replacement>
        D:\UsedVehPicReciver\build\libs\exploded\UsedVehPicUpload-0.0.1-SNAPSHOT.war\WEB-INF\classes\
    </wan_path_replacement>

    <!--应该被替换成的url地址前缀-->
    <wan_url_replacement>
        http://192.168.31.121:8081/
    </wan_url_replacement>

    <base64_encode_prefix>
        data:image/jpeg;base64,
    </base64_encode_prefix>

    <remote_notify_url>
        http://wx.szjjzd.gov.cn:9040/PoliceInServer/select.jsp?&amp;db=SZDJ&amp;q={"who":"SZLP","api":"picUpload_wan","ver":"1","JYLSH":"{JYLSH}","ZPLX":"{ZPLX}","ZPDZ":"{ZPDZ}","TOKEN":"{TOKEN}"}
    </remote_notify_url>

    <wan_dir_path_pre>
        D:\UsedVehPicReciver\build\libs\exploded\UsedVehPicUpload-0.0.1-SNAPSHOT.war\WEB-INF\classes\usedveh\pre
    </wan_dir_path_pre>

    <wan_path_replacement_pre>
        D:\UsedVehPicReciver\build\libs\exploded\UsedVehPicUpload-0.0.1-SNAPSHOT.war\WEB-INF\classes\
    </wan_path_replacement_pre>

    <wan_url_replacement_pre>
        http://192.168.31.121:8081/
    </wan_url_replacement_pre>

    <remote_notify_url_pre>
        http://wx.szjjzd.gov.cn:9040/PoliceInServer/select.jsp?&amp;db=SZDJ&amp;q={"who":"SZLP","api":"sellerPicUploadPre","ver":"1","JYLSH":"{JYLSH}","ZPLX":"{ZPLX}","HPZL":"{HPZL}","HPHM":"{HPHM}","DJZSBH":"{DJZSBH}","XSZBH":"{XSZBH}","DISK_ADDRESS":"{DISK_ADDRESS}","NET_ADDRESS":"{NET_ADDRESS}"}
    </remote_notify_url_pre>
</configuration>